{
  "HASURA_ENDPOINT": "valueHere",
  "HASURA_ADMIN_SECRET": "valueHere",
  "FIREBASE_CREDENTIAL_FILE": "valueHere",
  "SQS_SEND_MAIL": "valueHere",
  "SQS_SEND_SMS": "valueHere",
  "SQS_SEND_PUSH": "valueHere",
  "FROM_EMAIL": "YelloCab <yellocabservices@gmail.com>"
}
